# Downloading Market and Fundamental Data with `yfinance`

## Imports & Settings

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import yfinance as yf

## How to work with a Ticker object

In [3]:
symbol = 'AAPL'
ticker = yf.Ticker(symbol)

### Show ticker info

In [4]:
pd.Series(ticker.info).head(20)

zip                                                                95014
sector                                                        Technology
fullTimeEmployees                                                 154000
longBusinessSummary    Apple Inc. designs, manufactures, and markets ...
city                                                           Cupertino
phone                                                       408 996 1010
state                                                                 CA
country                                                    United States
companyOfficers                                                       []
website                                            https://www.apple.com
maxAge                                                                 1
address1                                              One Apple Park Way
industry                                            Consumer Electronics
ebitdaMargins                                                     0.3343
profitMargins                                                    0.25709
grossMargins                                                     0.43314
operatingCashflow                                           118224003072
revenueGrowth                                                      0.019
operatingMargins                                                 0.30533
ebitda                                                      129556996096
dtype: object

### Get market data

In [5]:
data = ticker.history(period='5d',
                      interval='1m',
                      start=None,
                      end=None,
                      actions=True,
                      auto_adjust=True,
                      back_adjust=False)
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1942 entries, 2022-09-26 09:30:00-04:00 to 2022-09-30 16:00:00-04:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          1942 non-null   float64
 1   High          1942 non-null   float64
 2   Low           1942 non-null   float64
 3   Close         1942 non-null   float64
 4   Volume        1942 non-null   int64
 5   Dividends     1942 non-null   int64
 6   Stock Splits  1942 non-null   int64
dtypes: float64(4), int64(3)
memory usage: 121.4 KB

### View company actions

In [6]:
# show actions (dividends, splits)
ticker.actions

Empty DataFrame
Columns: [Dividends, Stock Splits]
Index: []

In [7]:
ticker.dividends

Series([], Name: Dividends, dtype: int64)

In [8]:
ticker.splits

Series([], Name: Stock Splits, dtype: int64)

### Annual and Quarterly Financial Statement Summary

In [9]:
ticker.financials

,2021-09-25,2020-09-26,2019-09-28,2018-09-29
Research Development,2.1914e+10,1.8752e+10,1.6217e+10,1.4236e+10
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,1.09207e+11,6.7091e+10,6.5737e+10,7.2903e+10
Minority Interest,None,None,None,None
Net Income,9.468e+10,5.7411e+10,5.5256e+10,5.9531e+10
Selling General Administrative,2.1973e+10,1.9916e+10,1.8245e+10,1.6705e+10
Gross Profit,1.52836e+11,1.04956e+11,9.8392e+10,1.01839e+11
Ebit,1.08949e+11,6.6288e+10,6.393e+10,7.0898e+10
Operating Income,1.08949e+11,6.6288e+10,6.393e+10,7.0898e+10
Other Operating Expenses,None,None,None,None
Interest Expense,-2.645e+09,-2.873e+09,-3.576e+09,-3.24e+09
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,1.4527e+10,9.68e+09,1.0481e+10,1.3372e+10
Total Revenue,3.65817e+11,2.74515e+11,2.60174e+11,2.65595e+11
Total Operating Expenses,2.56868e+11,2.08227e+11,1.96244e+11,1.94697e+11
Cost Of Revenue,2.12981e+11,1.69559e+11,1.61782e+11,1.63756e+11
Total Other Income Expense Net,2.58e+08,8.03e+08,1.807e+09,2.005e+09
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,9.468e+10,5.7411e+10,5.5256e+10,5.9531e+10
Net Income Applicable To Common Shares,9.468e+10,5.7411e+10,5.5256e+10,5.9531e+10

In [10]:
ticker.quarterly_financials

,2022-06-25,2022-03-26,2021-12-25,2021-09-25
Research Development,6.797e+09,6.387e+09,6.306e+09,5.772e+09
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,2.3066e+10,3.0139e+10,4.1241e+10,2.3248e+10
Minority Interest,None,None,None,None
Net Income,1.9442e+10,2.501e+10,3.463e+10,2.0551e+10
Selling General Administrative,6.012e+09,6.193e+09,6.449e+09,5.616e+09
Gross Profit,3.5885e+10,4.2559e+10,5.4243e+10,3.5174e+10
Ebit,2.3076e+10,2.9979e+10,4.1488e+10,2.3786e+10
Operating Income,2.3076e+10,2.9979e+10,4.1488e+10,2.3786e+10
Other Operating Expenses,None,None,None,None
Interest Expense,-7.19e+08,-6.91e+08,-6.94e+08,-6.72e+08
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,3.624e+09,5.129e+09,6.611e+09,2.697e+09
Total Revenue,8.2959e+10,9.7278e+10,1.23945e+11,8.336e+10
Total Operating Expenses,5.9883e+10,6.7299e+10,8.2457e+10,5.9574e+10
Cost Of Revenue,4.7074e+10,5.4719e+10,6.9702e+10,4.8186e+10
Total Other Income Expense Net,-1e+07,1.6e+08,-2.47e+08,-5.38e+08
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,1.9442e+10,2.501e+10,3.463e+10,2.0551e+10
Net Income Applicable To Common Shares,1.9442e+10,2.501e+10,3.463e+10,2.0551e+10

### Annual and Quarterly Balance Sheet

In [11]:
ticker.balance_sheet

,2021-09-25,2020-09-26,2019-09-28,2018-09-29
Total Liab,2.879120e+11,2.585490e+11,2.480280e+11,2.585780e+11
Total Stockholder Equity,6.309000e+10,6.533900e+10,9.048800e+10,1.071470e+11
Other Current Liab,5.357700e+10,4.786700e+10,4.324200e+10,3.929300e+10
Total Assets,3.510020e+11,3.238880e+11,3.385160e+11,3.657250e+11
Common Stock,5.736500e+10,5.077900e+10,4.517400e+10,4.020100e+10
Other Current Assets,1.411100e+10,1.126400e+10,1.235200e+10,1.208700e+10
Retained Earnings,5.562000e+09,1.496600e+10,4.589800e+10,7.040000e+10
Other Liab,4.305000e+10,4.610800e+10,5.050300e+10,4.891400e+10
Gains Losses Not Affecting Retained Earnings,1.630000e+08,-4.060000e+08,-5.840000e+08,-3.454000e+09
Other Assets,3.876200e+10,3.395200e+10,3.297800e+10,2.228300e+10
Cash,3.494000e+10,3.801600e+10,4.884400e+10,2.591300e+10
Total Current Liabilities,1.254810e+11,1.053920e+11,1.057180e+11,1.159290e+11
Short Long Term Debt,9.613000e+09,8.773000e+09,1.026000e+10,8.784000e+09
Other Stockholder Equity,1.630000e+08,-4.060000e+08,-5.840000e+08,-3.454000e+09
Property Plant Equipment,4.952700e+10,4.533600e+10,3.737800e+10,4.130400e+10
Total Current Assets,1.348360e+11,1.437130e+11,1.628190e+11,1.313390e+11
Long Term Investments,1.278770e+11,1.008870e+11,1.053410e+11,1.707990e+11
Net Tangible Assets,6.309000e+10,6.533900e+10,9.048800e+10,1.071470e+11
Short Term Investments,2.769900e+10,5.292700e+10,5.171300e+10,4.038800e+10
Net Receivables,5.150600e+10,3.744500e+10,4.580400e+10,4.899500e+10
Long Term Debt,1.091060e+11,9.866700e+10,9.180700e+10,9.373500e+10
Inventory,6.580000e+09,4.061000e+09,4.106000e+09,3.956000e+09
Accounts Payable,5.476300e+10,4.229600e+10,4.623600e+10,5.588800e+10

In [12]:
ticker.quarterly_balance_sheet

,2022-06-25,2022-03-26,2021-12-25,2021-09-25
Total Liab,2.782020e+11,2.832630e+11,3.092590e+11,2.879120e+11
Total Stockholder Equity,5.810700e+10,6.739900e+10,7.193200e+10,6.309000e+10
Other Current Liab,5.653900e+10,5.816800e+10,5.704300e+10,5.357700e+10
Total Assets,3.363090e+11,3.506620e+11,3.811910e+11,3.510020e+11
Common Stock,6.211500e+10,6.118100e+10,5.842400e+10,5.736500e+10
Other Current Assets,1.638600e+10,1.580900e+10,1.811200e+10,1.411100e+10
Retained Earnings,5.289000e+09,1.271200e+10,1.443500e+10,5.562000e+09
Other Liab,5.362900e+10,5.243200e+10,5.505600e+10,4.305000e+10
Gains Losses Not Affecting Retained Earnings,-9.297000e+09,-6.494000e+09,-9.270000e+08,1.630000e+08
Other Assets,5.260500e+10,5.195900e+10,5.010900e+10,3.876200e+10
Cash,2.750200e+10,2.809800e+10,3.711900e+10,3.494000e+10
Total Current Liabilities,1.298730e+11,1.275080e+11,1.475740e+11,1.254810e+11
Short Long Term Debt,1.400900e+10,9.659000e+09,1.116900e+10,9.613000e+09
Other Stockholder Equity,-9.297000e+09,-6.494000e+09,-9.270000e+08,1.630000e+08
Property Plant Equipment,4.033500e+10,3.930400e+10,3.924500e+10,4.952700e+10
Total Current Assets,1.122920e+11,1.181800e+11,1.531540e+11,1.348360e+11
Long Term Investments,1.310770e+11,1.412190e+11,1.386830e+11,1.278770e+11
Net Tangible Assets,5.810700e+10,6.739900e+10,7.193200e+10,6.309000e+10
Short Term Investments,2.072900e+10,2.341300e+10,2.679400e+10,2.769900e+10
Net Receivables,4.224200e+10,4.540000e+10,6.525300e+10,5.150600e+10
Long Term Debt,9.470000e+10,1.033230e+11,1.066290e+11,1.091060e+11
Inventory,5.433000e+09,5.460000e+09,5.876000e+09,6.580000e+09
Accounts Payable,4.834300e+10,5.268200e+10,7.436200e+10,5.476300e+10

### Annual and Quarterly Cashflow Statement

In [13]:
ticker.cashflow

,2021-09-25,2020-09-26,2019-09-28,2018-09-29
Investments,-2.819000e+09,5.335000e+09,5.809300e+10,3.084500e+10
Change To Liabilities,1.400200e+10,-1.981000e+09,-2.548000e+09,9.172000e+09
Total Cashflows From Investing Activities,-1.454500e+10,-4.289000e+09,4.589600e+10,1.606600e+10
Net Borrowings,1.266500e+10,2.499000e+09,-7.819000e+09,4.320000e+08
Total Cash From Financing Activities,-9.335300e+10,-8.682000e+10,-9.097600e+10,-8.787600e+10
Change To Operating Activities,-6.146000e+09,8.810000e+08,-8.960000e+08,3.001600e+10
Issuance Of Stock,1.105000e+09,8.800000e+08,7.810000e+08,6.690000e+08
Net Income,9.468000e+10,5.741100e+10,5.525600e+10,5.953100e+10
Change In Cash,-3.860000e+09,-1.043500e+10,2.431100e+10,5.624000e+09
Repurchase Of Stock,-9.252700e+10,-7.599200e+10,-6.971400e+10,-7.526500e+10
Total Cash From Operating Activities,1.040380e+11,8.067400e+10,6.939100e+10,7.743400e+10
Depreciation,1.128400e+10,1.105600e+10,1.254700e+10,1.090300e+10
Other Cashflows From Investing Activities,-6.080000e+08,-7.910000e+08,-1.078000e+09,-7.450000e+08
Dividends Paid,-1.446700e+10,-1.408100e+10,-1.411900e+10,-1.371200e+10
Change To Inventory,-2.642000e+09,-1.270000e+08,-2.890000e+08,8.280000e+08
Change To Account Receivables,-1.012500e+10,6.917000e+09,2.450000e+08,-5.322000e+09
Other Cashflows From Financing Activities,-1.290000e+08,-1.260000e+08,-1.050000e+08,-1.050000e+08
Change To Netincome,2.985000e+09,6.517000e+09,5.076000e+09,-2.769400e+10
Capital Expenditures,-1.108500e+10,-7.309000e+09,-1.049500e+10,-1.331300e+10

In [14]:
ticker.quarterly_cashflow

,2022-06-25,2022-03-26,2021-12-25,2021-09-25
Investments,6.953000e+09,-6.390000e+09,-1.292900e+10,4.608000e+09
Change To Liabilities,-4.725000e+09,-2.139800e+10,2.027500e+10,1.405000e+10
Total Cashflows From Investing Activities,4.234000e+09,-9.265000e+09,-1.610600e+10,8.350000e+08
Net Borrowings,9.710000e+08,-1.751000e+09,-1.000000e+09,3.220000e+09
Total Cash From Financing Activities,-2.744500e+10,-2.835100e+10,-2.815900e+10,-2.038200e+10
Change To Operating Activities,2.497000e+09,9.486000e+09,-1.049700e+10,-5.602000e+09
Net Income,1.944200e+10,2.501000e+10,3.463000e+10,2.055100e+10
Change In Cash,-3.190000e+08,-9.450000e+09,2.701000e+09,6.530000e+08
Repurchase Of Stock,-2.456200e+10,-2.296100e+10,-2.336600e+10,-2.044900e+10
Total Cash From Operating Activities,2.289200e+10,2.816600e+10,4.696600e+10,2.020000e+10
Depreciation,2.805000e+09,2.737000e+09,2.697000e+09,2.989000e+09
Other Cashflows From Investing Activities,-6.150000e+08,-1.940000e+08,-3.740000e+08,-5.300000e+08
Dividends Paid,-3.811000e+09,-3.595000e+09,-3.732000e+09,-3.640000e+09
Change To Inventory,-1.600000e+07,3.840000e+08,6.810000e+08,-1.429000e+09
Change To Account Receivables,-9.810000e+08,9.476000e+09,-3.934000e+09,-8.809000e+09
Other Cashflows From Financing Activities,-4.300000e+07,-4.400000e+07,-6.100000e+07,-5.700000e+07
Change To Netincome,3.870000e+09,2.471000e+09,3.114000e+09,-1.550000e+09
Capital Expenditures,-2.102000e+09,-2.514000e+09,-2.803000e+09,-3.223000e+09
Issuance Of Stock,NaN,NaN,NaN,5.440000e+08

In [15]:
ticker.earnings

           Revenue     Earnings
Year
2018  265595000000  59531000000
2019  260174000000  55256000000
2020  274515000000  57411000000
2021  365817000000  94680000000

In [16]:
ticker.quarterly_earnings

              Revenue     Earnings
Quarter
3Q2021    83360000000  20551000000
4Q2021   123945000000  34630000000
1Q2022    97278000000  25010000000
2Q2022    82959000000  19442000000

### Sustainability: Environmental, Social and Governance (ESG)

In [17]:
ticker.sustainability

                                     Value
2022-8
palmOil                              False
controversialWeapons                 False
gambling                             False
socialScore                           6.86
nuclear                              False
furLeather                           False
alcoholic                            False
gmo                                  False
catholic                             False
socialPercentile                      None
peerCount                               55
governanceScore                       9.18
environmentPercentile                 None
animalTesting                        False
tobacco                              False
totalEsg                             16.68
highestControversy                       3
esgPerformance                  UNDER_PERF
coal                                 False
pesticides                           False
adult                                False
percentile                           14.68
peerGroup              Technology Hardware
smallArms                            False
environmentScore                      0.65
governancePercentile                  None
militaryContract                     False

### Analyst Recommendations

In [18]:
ticker.recommendations.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 858 entries, 2012-02-09 08:17:00 to 2022-09-29 10:49:15
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Firm        858 non-null    object
 1   To Grade    858 non-null    object
 2   From Grade  858 non-null    object
 3   Action      858 non-null    object
dtypes: object(4)
memory usage: 33.5+ KB

In [19]:
ticker.recommendations.tail(10)

                                   Firm      To Grade From Grade Action
Date
2022-07-29 11:22:13            Barclays  Equal-Weight              main
2022-07-29 11:28:58       Raymond James    Outperform              main
2022-07-29 11:54:26          Rosenblatt       Neutral              main
2022-08-02 08:29:32             Keybanc    Overweight              main
2022-08-17 08:14:09       Credit Suisse    Outperform    Neutral     up
2022-08-17 10:22:55             Wedbush    Outperform              main
2022-08-19 08:29:48             Keybanc    Overweight              main
2022-09-20 12:49:31  Evercore ISI Group    Outperform              main
2022-09-29 10:27:52   B of A Securities       Neutral        Buy   down
2022-09-29 10:49:15          Rosenblatt           Buy    Neutral     up

### Upcoming Events

In [20]:
ticker.calendar

                                    0                    1
Earnings Date     2022-10-26 20:00:00  2022-10-31 20:00:00
Earnings Average                 1.26                 1.26
Earnings Low                     1.13                 1.13
Earnings High                    1.35                 1.35
Revenue Average           88798400000          88798400000
Revenue Low               85144300000          85144300000
Revenue High              92794900000          92794900000

### Option Expiration Dates

In [21]:
ticker.options

('2022-10-07',
 '2022-10-14',
 '2022-10-21',
 '2022-10-28',
 '2022-11-04',
 '2022-11-11',
 '2022-11-18',
 '2022-12-16',
 '2023-01-20',
 '2023-02-17',
 '2023-03-17',
 '2023-04-21',
 '2023-06-16',
 '2023-07-21',
 '2023-09-15',
 '2024-01-19',
 '2024-06-21',
 '2025-01-17')

In [22]:
expiration = ticker.options[0]

In [23]:
options = ticker.option_chain(expiration) #get option chain

In [24]:
options.calls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   contractSymbol     70 non-null     object
 1   lastTradeDate      70 non-null     datetime64[ns, UTC]
 2   strike             70 non-null     float64
 3   lastPrice          70 non-null     float64
 4   bid                70 non-null     float64
 5   ask                70 non-null     float64
 6   change             70 non-null     float64
 7   percentChange      70 non-null     float64
 8   volume             67 non-null     float64
 9   openInterest       68 non-null     float64
 10  impliedVolatility  70 non-null     float64
 11  inTheMoney         70 non-null     bool
 12  contractSize       70 non-null     object
 13  currency           70 non-null     object
dtypes: bool(1), datetime64[ns, UTC](1), float64(9), object(3)
memory usage: 7.3+ KB

In [25]:
options.calls.head()

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,AAPL221007C00070000,2022-09-30 19:50:30+00:00,70.0,69.15,0.0,0.0,0.0,0.0,13.0,0.0,0.00001,True,REGULAR,USD
1,AAPL221007C00075000,2022-09-30 13:49:11+00:00,75.0,66.55,0.0,0.0,0.0,0.0,4.0,0.0,0.00001,True,REGULAR,USD
2,AAPL221007C00080000,2022-09-30 19:55:40+00:00,80.0,58.65,0.0,0.0,0.0,0.0,17.0,0.0,0.00001,True,REGULAR,USD
3,AAPL221007C00085000,2022-09-30 19:30:48+00:00,85.0,55.20,0.0,0.0,0.0,0.0,16.0,0.0,0.00001,True,REGULAR,USD
4,AAPL221007C00090000,2022-09-30 19:30:34+00:00,90.0,50.25,0.0,0.0,0.0,0.0,6.0,0.0,0.00001,True,REGULAR,USD

In [26]:
options.puts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   contractSymbol     71 non-null     object
 1   lastTradeDate      71 non-null     datetime64[ns, UTC]
 2   strike             71 non-null     float64
 3   lastPrice          71 non-null     float64
 4   bid                71 non-null     float64
 5   ask                71 non-null     float64
 6   change             71 non-null     float64
 7   percentChange      71 non-null     float64
 8   volume             69 non-null     float64
 9   openInterest       69 non-null     float64
 10  impliedVolatility  71 non-null     float64
 11  inTheMoney         71 non-null     bool
 12  contractSize       71 non-null     object
 13  currency           71 non-null     object
dtypes: bool(1), datetime64[ns, UTC](1), float64(9), object(3)
memory usage: 7.4+ KB

## Data Download with proxy server

You can use a proxy server to avoid having your IP blacklisted as illustrated below (but need an actual PROXY_SERVER).

In [27]:
PROXY_SERVER = 'PROXY_SERVER'

The following will only work with proper PROXY_SERVER...

In [28]:
# msft = yf.Ticker("MSFT")

# msft.history(proxy=PROXY_SERVER)
# msft.get_actions(proxy=PROXY_SERVER)
# msft.get_dividends(proxy=PROXY_SERVER)
# msft.get_splits(proxy=PROXY_SERVER)
# msft.get_balance_sheet(proxy=PROXY_SERVER)
# msft.get_cashflow(proxy=PROXY_SERVER)
# msft.option_chain(proxy=PROXY_SERVER)

## Downloading multiple symbols

In [29]:
tickers = yf.Tickers('msft aapl goog')

In [30]:
tickers

yfinance.Tickers object <MSFT,AAPL,GOOG>

In [31]:
pd.Series(tickers.tickers['MSFT'].info)

zip                                                           98052-6399
sector                                                        Technology
fullTimeEmployees                                                 221000
longBusinessSummary    Microsoft Corporation develops, licenses, and ...
city                                                             Redmond
                                             ...
coinMarketCapLink                                                   None
regularMarketPrice                                                 232.9
preMarketPrice                                                      None
logo_url                         https://logo.clearbit.com/microsoft.com
trailingPegRatio                                                  1.7612
Length: 155, dtype: object

In [32]:
tickers.tickers['AAPL'].history(period="1mo")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-09-01,156.639999,158.419998,154.669998,157.960007,74229900,0,0
2022-09-02,159.750000,160.360001,154.970001,155.809998,76905200,0,0
2022-09-06,156.470001,157.089996,153.690002,154.529999,73714800,0,0
2022-09-07,154.820007,156.669998,153.610001,155.960007,87449600,0,0
2022-09-08,154.639999,156.360001,152.679993,154.460007,84923800,0,0
2022-09-09,155.470001,157.820007,154.750000,157.369995,68028800,0,0
2022-09-12,159.589996,164.259995,159.300003,163.429993,104956000,0,0
2022-09-13,159.899994,160.539993,153.369995,153.839996,122656600,0,0
2022-09-14,154.789993,157.100006,153.610001,155.309998,87965400,0,0
2022-09-15,154.649994,155.240005,151.380005,152.369995,90481100,0,0
2022-09-16,151.210007,151.350006,148.369995,150.699997,162157000,0,0
2022-09-19,149.309998,154.559998,149.100006,154.479996,81474200,0,0
2022-09-20,153.399994,158.080002,153.080002,156.899994,107689800,0,0
2022-09-21,157.339996,158.740005,153.600006,153.720001,101696800,0,0
2022-09-22,152.380005,154.470001,150.910004,152.740005,86652500,0,0
2022-09-23,151.190002,151.470001,148.559998,150.429993,95939200,0,0
2022-09-26,149.660004,153.770004,149.639999,150.770004,93339400,0,0
2022-09-27,152.740005,154.720001,149.949997,151.759995,84442700,0,0
2022-09-28,147.639999,150.639999,144.839996,149.839996,146691400,0,0
2022-09-29,146.100006,146.720001,140.679993,142.479996,128138200,0,0
2022-09-30,141.279999,143.100006,138.000000,138.199997,124705400,0,0

In [33]:
tickers.history(period='1mo').stack(-1)

[*********************100%***********************]  3 of 3 completed

                      Close  Dividends        High         Low        Open  \
Date
2022-09-01 AAPL  157.960007          0  158.419998  154.669998  156.639999
           GOOG  110.550003          0  111.220001  108.190002  109.199997
           MSFT  260.399994          0  260.890015  255.410004  258.869995
2022-09-02 AAPL  155.809998          0  160.360001  154.970001  159.750000
           GOOG  108.680000          0  111.675003  108.129997  111.339996
...                     ...        ...         ...         ...         ...
2022-09-29 GOOG   98.089996          0   99.300003   96.519997   99.300003
           MSFT  237.500000          0  239.949997  234.410004  238.889999
2022-09-30 AAPL  138.199997          0  143.100006  138.000000  141.279999
           GOOG   96.150002          0   99.494003   96.029999   97.730003
           MSFT  232.899994          0  240.539993  232.729996  238.289993

                 Stock Splits     Volume
Date
2022-09-01 AAPL             0   74229900
           GOOG             0   22784400
           MSFT             0   23263400
2022-09-02 AAPL             0   76905200
           GOOG             0   20601600
...                       ...        ...
2022-09-29 GOOG             0   21921500
           MSFT             0   27484200
2022-09-30 AAPL             0  124705400
           GOOG             0   26248200
           MSFT             0   35671100

[63 rows x 7 columns]

In [34]:
data = yf.download("SPY AAPL", start="2020-01-01", end="2020-01-05")

[*********************100%***********************]  2 of 2 completed

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3 entries, 2019-12-31 to 2020-01-03
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Adj Close, AAPL)  3 non-null      float64
 1   (Adj Close, SPY)   3 non-null      float64
 2   (Close, AAPL)      3 non-null      float64
 3   (Close, SPY)       3 non-null      float64
 4   (High, AAPL)       3 non-null      float64
 5   (High, SPY)        3 non-null      float64
 6   (Low, AAPL)        3 non-null      float64
 7   (Low, SPY)         3 non-null      float64
 8   (Open, AAPL)       3 non-null      float64
 9   (Open, SPY)        3 non-null      float64
 10  (Volume, AAPL)     3 non-null      int64
 11  (Volume, SPY)      3 non-null      int64
dtypes: float64(10), int64(2)
memory usage: 312.0 bytes

In [36]:
data = yf.download(
        tickers = "SPY AAPL MSFT", # list or string

        # use "period" instead of start/end
        # valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
        # (optional, default is '1mo')
        period = "5d",

        # fetch data by interval (including intraday if period < 60 days)
        # valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
        # (optional, default is '1d')
        interval = "1m",

        # group by ticker (to access via data['SPY'])
        # (optional, default is 'column')
        group_by = 'ticker',

        # adjust all OHLC automatically
        # (optional, default is False)
        auto_adjust = True,

        # download pre/post regular market hours data
        # (optional, default is False)
        prepost = True,

        # use threads for mass downloading? (True/False/Integer)
        # (optional, default is True)
        threads = True,

        # proxy URL scheme use use when downloading?
        # (optional, default is None)
        proxy = None
    )

[*********************100%***********************]  3 of 3 completed

In [37]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4789 entries, 2022-09-26 04:00:00-04:00 to 2022-09-30 19:59:00-04:00
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   (AAPL, Open)    4784 non-null   float64
 1   (AAPL, High)    4784 non-null   float64
 2   (AAPL, Low)     4784 non-null   float64
 3   (AAPL, Close)   4784 non-null   float64
 4   (AAPL, Volume)  4784 non-null   float64
 5   (MSFT, Open)    4627 non-null   float64
 6   (MSFT, High)    4627 non-null   float64
 7   (MSFT, Low)     4627 non-null   float64
 8   (MSFT, Close)   4627 non-null   float64
 9   (MSFT, Volume)  4627 non-null   float64
 10  (SPY, Open)     4714 non-null   float64
 11  (SPY, High)     4714 non-null   float64
 12  (SPY, Low)      4714 non-null   float64
 13  (SPY, Close)    4714 non-null   float64
 14  (SPY, Volume)   4714 non-null   float64
dtypes: float64(15)
memory usage: 598.6 KB

In [38]:
from pandas_datareader import data as pdr

import yfinance as yf
yf.pdr_override()
#使用yf.pdr_override方法是为了防止雅虎网站修改获取历史数据的API接口而导致get_data_yahoo方法不可用

# download dataframe
data = pdr.get_data_yahoo('SPY',
                          start='2017-01-01',
                          end='2019-04-30',
                          auto_adjust=False)

[*********************100%***********************]  1 of 1 completed

In [39]:
# auto_adjust = True
data.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-04-23,290.679993,293.140015,290.420013,292.880005,276.481323,52246600
2019-04-24,292.790009,293.160004,292.070007,292.230011,275.867706,50392900
2019-04-25,292.119995,292.779999,290.730011,292.049988,275.697815,57770900
2019-04-26,292.100006,293.489990,291.239990,293.410004,276.981659,50916400
2019-04-29,293.510010,294.450012,293.410004,293.869995,277.415833,57197700

In [40]:
# auto_adjust = False
data.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-04-23,290.679993,293.140015,290.420013,292.880005,276.481323,52246600
2019-04-24,292.790009,293.160004,292.070007,292.230011,275.867706,50392900
2019-04-25,292.119995,292.779999,290.730011,292.049988,275.697815,57770900
2019-04-26,292.100006,293.489990,291.239990,293.410004,276.981659,50916400
2019-04-29,293.510010,294.450012,293.410004,293.869995,277.415833,57197700